In [ ]:
price1 = 100
price2 = 200
tax = 1.1

def total():
    return price1 + price2

print (total() * tax)

330.0

In [ ]:
!rm /etc/localtime
!ln -s /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
!date

Thu Feb  5 10:37:46 AM JST 2026

In [ ]:
# timeモジュールをインポート
import time

# 現在の日時を指定したフォーマットで出力する
print(time.strftime("%Y年%m月%d日%H時%M分%S秒", time.localtime()))

2026年02月05日10時38分05秒

In [ ]:
a = input()
print("入力したのは" + a)

o
入力したのはo

In [ ]:
a = input()
print("あなたの名前は" + a + "です")

o
あなたの名前はoです

In [ ]:
a = input()
b = int(a) * 1.1
print("税込み価格は" + str(b) + "円です")

o

ValueError: invalid literal for int() with base 10: 'o'

In [ ]:
a = "H"
a.isdigit()

In [ ]:
if True:
    print("hello")

In [ ]:
a = input()

if a.isdigit():
    print("数字です")

In [ ]:
a = input()

if a.isdigit():
    b = int(a) * 1.1
    print("税込み価格は" + str(b) + "円です")

In [ ]:
a = input()

if a.isdigit():
    c = int(a)
    b = c * c * 3.14
    print("円の面積は" + str(b) + "です")

In [ ]:
a = input()

if a.isdigit():
    b = int(a) * 1.1
    print("税込み価格は" + str(b) + "円です")
else:
    print("数字を入力してください")

In [ ]:
a = input()

if int(a) < 18:
    print("未成年")

In [ ]:
class Product:
    def __init__(self):
        # 属性を定義する
        self.name = ""

shampoo = Product()

# 属性にアクセスし、値を代入する
shampoo.name = "シャンプー"

# 属性にアクセスし、値を出力する
print(shampoo.name)

In [ ]:
class User:
    # コンストラクタを定義する
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

# インスタンス化する
user = User("侍太郎", 36, "男性")

# 属性にアクセスし、値を出力する
print(user.name)
print(user.age)
print(user.gender)

侍太郎
36
男性

In [ ]:
class Human:
    def __init__(self,name,age):
       self.name = name
       self.age = age

    def printinfo(self):
        print(f"名前{self.name}, {self.age}歳")

human1 = Human("samurai", 25)
human1.printinfo()

名前samurai, 25歳

In [ ]:
import datetime

class User2:
  #コンストラクタ
  def __init__(self, user_name, birth_date, mail_address):
    self.user_name = user_name
    self.birth_date = birth_date
    self.mail_address = mail_address


def login(self, input_user_name, input_mail_address):
    if self.user_name == input_user_name and self.mail_address == input_mail_address:
      print("認証に成功しました")
      return True
    else:
      print("認証に失敗しました")
      return False

In [ ]:
taro = User2("Samurai Taro", datetime.date(1990, 7, 1), "samuraitoro@gmail.com")

AttributeError: 'User2' object has no attribute 'user'

In [ ]:
taro.login("Samurai Taro", "samuraitoro@gmail.com")

NameError: name 'taro' is not defined

In [ ]:
# timeモジュールをインポート
import time

# 現在時刻をUNIXタイムスタンプで取得
print(time.time())

1770255660.5661855

In [ ]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 取得した日付date_timeの日時を特定のフォーマットで出力する
print(date_time.strftime("%Y年%m月%d日%H時%M分%S秒"))

2015年03月19日12時15分30秒

In [ ]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

print(date_time)

# 年,月,日,時,分,秒だけをそれぞれ取り出すことも可能です
print(date_time.year)
print(date_time.month)
print(date_time.day)
print(date_time.hour)
print(date_time.minute)
print(date_time.second)

2015-03-19 12:15:30
2015
3
19
12
15
30

In [ ]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 1年間の日数差を変数td_1yに代入する
td_1y = datetime.timedelta(days=365)

# 現在の日時に1年を加算し、変数addに代入する
add = now + td_1y

# 3日間の日数差を変数td_3dに代入する
td_3d = datetime.timedelta(days=3)

# 現在の日時から3日を減算し、変数subに代入する（sub＝「減算」を意味するsubtractionの略）
sub = now - td_3d

# 加算・減算した日時を特定のフォーマットで出力する
print(add.strftime("現在から1年後は%Y年%m月%d日%H時%M分%S秒です。"))
print(sub.strftime("現在から3日前は%Y年%m月%d日%H時%M分%S秒です。"))

現在から1年後は2027年02月05日11時01分53秒です。
現在から3日前は2026年02月02日11時01分53秒です。

In [ ]:
a = input()

if int(a) < 18:
    print("未成年")

9
未成年

In [ ]:
a = input()

if int(a) < 18:
    print("未成年")
elif int(a) < 65:
    print("成人")
else:
    print("高齢者")

65
高齢者

In [ ]:
wdays = ["月","火","水","木","金"]
print(wdays[1])

火

In [ ]:
wdays = ["月","火","水","木","金"]

for i in wdays:
    print(i + "曜日")

月曜日
火曜日
水曜日
木曜日
金曜日

In [ ]:
for i in range(0,100):
    print("こんにちわ")

こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ
こんにちわ

In [ ]:
for i in range(0,100):
    print(str(i) + "回目のこんにちわ")

0回目のこんにちわ
1回目のこんにちわ
2回目のこんにちわ
3回目のこんにちわ
4回目のこんにちわ
5回目のこんにちわ
6回目のこんにちわ
7回目のこんにちわ
8回目のこんにちわ
9回目のこんにちわ
10回目のこんにちわ
11回目のこんにちわ
12回目のこんにちわ
13回目のこんにちわ
14回目のこんにちわ
15回目のこんにちわ
16回目のこんにちわ
17回目のこんにちわ
18回目のこんにちわ
19回目のこんにちわ
20回目のこんにちわ
21回目のこんにちわ
22回目のこんにちわ
23回目のこんにちわ
24回目のこんにちわ
25回目のこんにちわ
26回目のこんにちわ
27回目のこんにちわ
28回目のこんにちわ
29回目のこんにちわ
30回目のこんにちわ
31回目のこんにちわ
32回目のこんにちわ
33回目のこんにちわ
34回目のこんにちわ
35回目のこんにちわ
36回目のこんにちわ
37回目のこんにちわ
38回目のこんにちわ
39回目のこんにちわ
40回目のこんにちわ
41回目のこんにちわ
42回目のこんにちわ
43回目のこんにちわ
44回目のこんにちわ
45回目のこんにちわ
46回目のこんにちわ
47回目のこんにちわ
48回目のこんにちわ
49回目のこんにちわ
50回目のこんにちわ
51回目のこんにちわ
52回目のこんにちわ
53回目のこんにちわ
54回目のこんにちわ
55回目のこんにちわ
56回目のこんにちわ
57回目のこんにちわ
58回目のこんにちわ
59回目のこんにちわ
60回目のこんにちわ
61回目のこんにちわ
62回目のこんにちわ
63回目のこんにちわ
64回目のこんにちわ
65回目のこんにちわ
66回目のこんにちわ
67回目のこんにちわ
68回目のこんにちわ
69回目のこんにちわ
70回目のこんにちわ
71回目のこんにちわ
72回目のこんにちわ
73回目のこんにちわ
74回目のこんにちわ
75回目のこんにちわ
76回目のこんにちわ
77回目のこんにちわ
78回目のこんにちわ
79回目のこんにちわ
80回目のこんにちわ
81回目のこんにちわ
82回目のこんにちわ
83回目のこんにちわ
84回目のこんにちわ
85回目のこんにちわ
86回目のこんにちわ
87回目のこんにちわ
88回目のこんにちわ
89回目のこんにちわ
90回目のこんにちわ
91回目のこんにちわ
92回目のこんにちわ
93回目のこんにちわ
94回目のこんにちわ
95回目のこんにちわ
96回目のこんにちわ
97回目のこんにちわ
98回目のこんにちわ
99回目のこんにちわ

In [ ]:
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
for a in range(2):
  for b in range(3):
    print(a,b)

0 0
0 1
0 2
1 0
1 1
1 2

In [ ]:
for a in range(2):
    print(a)

0
1

In [ ]:
for b in range(3):
    print(b)

0
1
2

In [ ]:
# 掛け算の九九をすべて表示
# 1 x 1 = 1, 1 x 2 = 2

In [ ]:
for i in range(1,10):
    for j in range(1,10):
        print("str(i)" + "x" + "str(j)") + "=" + "(str(i) * str(j))"

str(i)xstr(j)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
for i in range(1,10):
    for j in range(1,10):
        print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
# 関数を定義する
def say_hello():
    print("こんにちは！")
    print("Pythonの世界へようこそ。")

# 関数を呼び出す（実行する）
say_hello()

こんにちは！
Pythonの世界へようこそ。

In [10]:
import datetime

class User2:
  #コンストラクタ
  def __init__(self,user_name, birth_date, mail_address):
    self.user_name = user_name
    self.birth_date = birth_date
    self.mail_address = mail_address

def login(self, input_user_name, input_mail_address):
  if self.user_name == input_user_name and self.mail_address == input_mail_address:
    print("認証に成功しました")
    return True
  else:
    print("認証に失敗しました")
    return False

In [17]:
taro = User2("Samurai Taro". datetime.date(1990, 7, 1), "samuraitaro@gmail.com")

AttributeError: 'str' object has no attribute 'datetime'

In [18]:
taro.login("Samrai Taro", "samuraitaro@gmail.com")

NameError: name 'taro' is not defined

In [40]:
class Product:
    def __init__(self,name: str, price: int, category: str, stock: int, colors: list, related_products: dict):
        self.name = name
        self.price = price
        self.category = category
        self.stock = stock
        self.colors = colors
        self.related_products = related_products

    def get_product_info(self):
        return f"【商品情報】商品名:{self.name} 価格:{self.price} カテゴリ:{self.category} 在庫数:{self.stock} 色:{self.color} 関連商品:{self.related_products}"

    def update_product_info(self,name: str, price: int, category: str, stock: int, colors: list, related_products: dict):
        self.name = name
        self.price = price
        self.category = category
        self.stock = stock
        self.colors = colors
        self.related_products = related_products

    def show_related_products(self):
        high_related_products = []

        for name, score in self.related_products.item():
          if score >= 5:
            high_related_products.append(name)

          return f"よく一緒に購入されている商品は¥"{','.join(high_related_products)} ¥"です"

SyntaxError: invalid character '¥' (U+00A5) (ipython-input-3116239805.py, line 28)

In [37]:
','.join(['Apple','Lemon'])

'Apple,Lemon'

In [41]:
product1 = product("Tシャツ", 2500. "アパレル", 100, ["white","brack","gray"],{"ジーンズ":7, "スニーカー": 5,"キャップ": 3})
product2 = product("ノートPC", 120000. "家電", 50, ["silver","space gray"],{"マウス":8, "キーボード": 6,"モニター": 4})
product3 = product("コーヒー豆", 1500. "食品", 200, ["brown"],{"コーヒーメーカー":9, "マグカップ": 2})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-1420067537.py, line 1)

In [39]:
print( product1.get_product_info() )

NameError: name 'product1' is not defined

In [42]:
class Human:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def check_adult(self):
    if self.age >= 20:
      print(f"{self.name}さんは大人である")
    else:
      print(f"{self.name}さんは大人ではない")

In [45]:
Human1 = Human("ken",20)
Human2 = Human("takeshi",25)
Human3 = Human("taro",18)

In [48]:
Human1.check_adult()
Human2.check_adult()
Human3.check_adult()

kenさんは大人である
takeshiさんは大人である
taroさんは大人ではない